# Carpeta de Visual Studio
.vs/

# Carpetas y archivos generados por el IDE
/bin/
/obj/

# Archivos de configuración del usuario
*.user
*.suo

# Archivos de dependencias
packages/

# Archivos de compilación
*.dll
*.exe
*.pdb

# Archivos de compilación de Visual Studio
*.ipch
*.pch
*.sdf
*.opensdf

*.log
*.cache
*.dat
*.tmp

*.dbmdl

# Archivos de análisis de rendimiento
*.cachefile

# Carpeta de respaldo automático de Visual Studio
Backup*/
