<!DOCTYPE html>
<html lang="en">

<head>
    <title>Terraverso</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Teko:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EditorialDeLibros.styles.css" />
    <link rel="stylesheet" href="css/book.css" />
    <link rel="icon" type="image/png" href="/img/editorial_logo.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
